.default-color0.chart-bar /*wtrysk #22bad9*/
{ 
    -fx-bar-fill: #32cd32;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}

.default-color1.chart-bar /*próby*/
{ 
    -fx-bar-fill: #8db600;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color2.chart-bar /*postój zaplanowany*/
{ 
    -fx-bar-fill: #cccccc;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color3.chart-bar /*przezbrajanie*/
{ 
    -fx-bar-fill: #22bad9;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color4.chart-bar /*suszenie materiału*/
{ 
    -fx-bar-fill: #8d6e63;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color5.chart-bar /*nie zgloszono*/
{ 
    -fx-background-color: linear-gradient(derive(#c11d38,+30%), derive(#ffc857,+40%))
                          linear-gradient(derive(#ffc857,80%), derive(#c11d38, 80%)),
                          linear-gradient(derive(#c11d38,30%), derive(#ffc857,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color6.chart-bar /*awaria maszyny*/
{ 
    -fx-bar-fill: #dc143c;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color7.chart-bar /*awaria formy*/
{ 
    -fx-bar-fill: #ff6347;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color8.chart-bar /*brak zaopatrzenia*/
{ 
    -fx-bar-fill: #ffd700;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color9.chart-bar /*przerwa pracownika*/
{ 
    -fx-bar-fill: #008080;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color10.chart-bar /*brak operatora*/
{ 
    -fx-bar-fill: #8e44ad;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.default-color11.chart-bar    /*wybrak*/
{ 
    -fx-bar-fill: #ff8c00;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}



.data0.chart-pie /*wtrysk*/
{
    -fx-bar-fill: #32cd32;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data1.chart-pie /*próby*/
{
    -fx-bar-fill: #8db600;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data2.chart-pie /*postój zaplanowany*/
{
    -fx-bar-fill: #cccccc;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data3.chart-pie /*przezbrajanie*/
{
    -fx-bar-fill: #22bad9;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data4.chart-pie /*suszenie materiałi*/
{
    -fx-bar-fill: #8d6e63;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data5.chart-pie /*nie zgłoszono*/
{
    -fx-background-color: linear-gradient(derive(#c11d38,+30%), derive(#ffc857,+40%))
                          linear-gradient(derive(#ffc857,80%), derive(#c11d38, 80%)),
                          linear-gradient(derive(#c11d38,30%), derive(#ffc857,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data6.chart-pie /*awaria maszyny*/
{
    -fx-bar-fill: #dc143c;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data7.chart-pie /*awaria formy*/
{
    -fx-bar-fill: #ff6347;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data8.chart-pie /*brak zaopatrzenia*/
{
    -fx-bar-fill: #ffd700;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data9.chart-pie /*przerwa pracownika*/
{
    -fx-bar-fill: #008080;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data10.chart-pie /*brak operatora*/
{
    -fx-bar-fill: #8e44ad;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.data11.chart-pie /*wybrak*/
{
    -fx-bar-fill: #ff8c00;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,+30%), derive(-fx-bar-fill,+40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 80%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
.SplitPane {
    /*
    -fx-background-color: transparent;
    */
    -fx-background-image: url("img/bg50.png");
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;

}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
    
   -fx-background-color: transparent;
   
}
.chart-legend { -fx-background-color: transparent; }  
.chart{ -fx-background-color: transparent; }  

.default-color0.chart-area-symbol{
     -fx-background-color: rgba(134, 179, 0,1), white;
     -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color0.chart-series-area-line{
     -fx-stroke: rgba(134, 179, 0,1);
}

.default-color0.chart-series-area-fill{
    
    -fx-fill:  rgba(172, 230, 0,0.2); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: ADD;
}
#BTNszukaj {          
    -fx-graphic: url("img/search.png");
}
#BTNhide {          
    -fx-graphic: url("img/arrow.png");
}
.root{
    -fx-background-color: transparent;
}
#drzewo {          
     -fx-background-color: transparent;
}
.ustronTree{          
     -fx-background-color: transparent;

}

.ustronTree .tree-cell {
    -fx-background-color: transparent ;
    
}

#HBox{
        -fx-background-color: rgb(244,244,244);

}