.root{
    -fx-background-color: transparent;
}
.split-pane {
    /*
    -fx-background-color: transparent;
    */
    -fx-background-image: url("img/automa.png");
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    
    

}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
#BTNszukaj {          
    -fx-graphic: url("img/search_black.png");
}

/*WTRYSK 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
.default-color0.chart-area-symbol{
     -fx-background-color: rgba(50, 205, 50,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color0.chart-series-area-line{
     -fx-stroke: rgba(50, 205, 50,0.5);
}

.default-color0.chart-series-area-fill{
    
    -fx-fill:  rgba(50, 205, 50,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*PROBY 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/

.default-color1.chart-area-symbol{
     -fx-background-color: rgba(141, 182, 0,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color1.chart-series-area-line{
     -fx-stroke: rgba(141, 182, 0,0.5);
}

.default-color1.chart-series-area-fill{
    
    -fx-fill:  rgba(141, 182, 0,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*POSTÓJ ZAPLANOWANY 222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/

.default-color2.chart-area-symbol{
     -fx-background-color: rgba(204, 204, 204,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color2.chart-series-area-line{
     -fx-stroke: rgba(204, 204, 204,0.5);
}

.default-color2.chart-series-area-fill{
    
    -fx-fill:  rgba(204, 204, 204,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*PRZEZBRAJANIE 3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/

.default-color3.chart-area-symbol{
     -fx-background-color: rgba(34, 168, 217,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color3.chart-series-area-line{
     -fx-stroke: rgba(34, 168, 217,0.5);
}

.default-color3.chart-series-area-fill{
    
    -fx-fill:  rgba(34, 168, 217,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*SUSZENIE 44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/

.default-color4.chart-area-symbol{
     -fx-background-color: rgba(141, 110, 99,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color4.chart-series-area-line{
     -fx-stroke: rgba(141, 110, 99,0.5);
}

.default-color4.chart-series-area-fill{
    
    -fx-fill:  rgba(141, 110, 99,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*NIE ZGLOSZONO 555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
.default-color5.chart-area-symbol{
    -fx-background-color: rgba(0, 0, 0,1), white;
    -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color5.chart-series-area-line{
     -fx-stroke: rgba(0, 0, 0,0.5);
}

.default-color5.chart-series-area-fill{
    
    -fx-fill:  rgba(0, 0, 0,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}

/*AWARIA MASZYNY 66666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666*/

.default-color6.chart-area-symbol{
     -fx-background-color: rgba(220, 20, 60,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color6.chart-series-area-line{
     -fx-stroke: rgba(220, 20, 60,0.5);
}

.default-color6.chart-series-area-fill{
    
    -fx-fill:  rgba(220, 20, 60,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*AWARIA FORMY 777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777*/

.default-color7.chart-area-symbol{
     -fx-background-color: rgba(255, 99, 71,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color7.chart-series-area-line{
     -fx-stroke: rgba(255, 99, 71,0.5);
}

.default-color7.chart-series-area-fill{
    
    -fx-fill:  rgba(255, 99, 71,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*BRAK ZAOPATRZENIA 8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
.default-color8.chart-area-symbol{
     -fx-background-color: rgba(255, 215, 0,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color8.chart-series-area-line{
     -fx-stroke: rgba(255, 215, 0,0.5);
}

.default-color8.chart-series-area-fill{
    
    -fx-fill:  rgba(255, 215, 0,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*PRZERWA PRACOWNIKA 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999*/

.default-color9.chart-area-symbol{
     -fx-background-color: rgba(0, 128, 128,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color9.chart-series-area-line{
     -fx-stroke: rgba(0, 128, 128,0.5);
}

.default-color9.chart-series-area-fill{
    
    -fx-fill:  rgba(0, 128, 128,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*BRAK OPERATORA*/

.default-color10.chart-area-symbol{
     -fx-background-color: rgba(142, 68, 173,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color10.chart-series-area-line{
     -fx-stroke: rgba(142, 68, 173,0.5);
}

.default-color10.chart-series-area-fill{
    
    -fx-fill:  rgba(142, 68, 173,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}
/*WYBRAK 11*/

.default-color11.chart-area-symbol{
     -fx-background-color: rgba(255, 140, 0,1), white;
     -fx-background-insets: 0, 3;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color11.chart-series-area-line{
     -fx-stroke: rgba(255, 140, 0,0.5);
}

.default-color11.chart-series-area-fill{
    
    -fx-fill:  rgba(255, 140, 0,0.4); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: MULTIPLY;
}

#HBox{
        -fx-background-color: rgb(244,244,244);

}