.default-color0.chart-area-symbol{
     -fx-background-color: rgba(255, 0, 0,1), white;
     -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color0.chart-series-area-line{
     -fx-stroke: rgba(255, 0, 0,1);
}

.default-color0.chart-series-area-fill{
    
    -fx-fill:  rgba(255, 0, 0,0.0); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: ADD;
}

.default-color2.chart-area-symbol{
     -fx-background-color: rgba(34, 186, 217,1), white;
     -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color2.chart-series-area-line{
     -fx-stroke: rgba(34, 186, 217,1);
}

.default-color2.chart-series-area-fill{
    
    -fx-fill:  rgba(34, 186, 217,0.3); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: ADD;
}

.default-color1.chart-area-symbol{
     -fx-background-color: rgba(255,153,51,1), white;
     -fx-shape: "m 125.07064,74.174936 c -5.6688,9.818647 -23.01876,0 -34.356353,0 -11.337596,0 -28.687554,9.818647 -34.356353,0 -5.668798,-9.818646 11.509378,-19.934827 17.178176,-29.753473 5.668799,-9.818647 5.84058,-29.753475 17.178177,-29.753475 11.337593,0 11.509373,19.934827 17.178173,29.753474 5.6688,9.818646 22.84698,19.934828 17.17818,29.753474 z";
    -fx-padding: 7px 7px 7px 7px;
    
     -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

}
.default-color1.chart-series-area-line{
     -fx-stroke: rgba(255,153,51,1);
}

.default-color1.chart-series-area-fill{
    
    -fx-fill:  rgba(255,153,51,0.3); 
    -fx-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-blend-mode: ADD;
}